
<!DOCTYPE html>
<html lang="en">
<html>
<head>
      <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ToDo</title>
    <link rel="shortcut icon" href="/static/source/img.png">


    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Dosis:wght@200;300&family=Kalam:wght@300;400&family=Playfair+Display&family=Roboto:ital,wght@0,100;0,400;1,900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caveat&family=Dosis:wght@200;300&family=Indie+Flower&family=Kalam:wght@300;400&family=Playfair+Display&family=Roboto:ital,wght@0,100;0,400;1,900&display=swap" rel="stylesheet">


</head>
<body style="background-color: #eae5e0">
    <img  class="img1" src="https://icons-for-free.com/iconfiles/png/512/done+exam+list+pencil+todo+icon-1320196901489830645.png">
    <h1 class="welcome">ToDo App</h1>

    <a  class="a1" href="/todos">Let's Start</a>
</body>
</html>


